#task-item-container{
    font: bold;
    font-size: 30px;
    display: flex;
    align-content: center; 
    justify-content: space-between;
    
}

#task-item-container form button{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    border:none;
    border-radius: 100%;
    background-color: red;
    color:white
}